@model Author
<!-- <partial name="_Notification"/> -->

<h1>Delete author</h1>
<form method="post">
    <input asp-for="Id" hidden />
  
  <div class="form-group">
    <label asp-for="Alias" class="control-label">Alias</label>
    <input asp-for="Alias" class="form-control" disabled />
    <span asp-validation-for="Alias" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Info" class="control-label">Information</label>
    <input asp-for="Info" class="form-control" disabled />
    <span asp-validation-for="Info" class="text-danger"></span>
  </div>
  <button type="submit" class="btn btn-primary">Delete</button>
  <a asp-controller="Author" asp-action="Index" class="btn btn-primary">Cancel</a>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}
