@model List<Book>
<!-- <partial name="_Notification"/> -->

<div class="row pt-4 pb-4">
    <div class="col-6">
        <h1>Customer has no access to the managment portal, if you're a new manager or admin, please wait for your account to be authorized and logged in later</h1>
    </div>
</div>

